venv/
.venv/
pilots.json
.ipynb*
numbers.csv
parse_data.csv
numbers.csv
.conda_env
.vscode/settings.json
.DS_Store
users.py
__pycache__
.conda
.secrets
.secrets.tmp
nsf_report.dry_run.json
nsf_report_summary.txt
sync_check_report.txt
